<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}Main Page{% endblock %}</title>
    <style>
    </style>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style = "box-shadow: 0 0 10px rgba(0,0,0,0.5);">
<ul class="navbar-nav mr-auto">
    <li class="nav-brand"><a class="nav-link" href="{% url 'codeposter:index' %}">All Posts</a></li>
    <li class="nav-brand"><a class="nav-link" href="{% url 'codeposter:create_post' %}">Create Post</a></li>
    <li class="nav-brand"><a class="nav-link" href="{% url 'codeposter:add_programming_language' %}">Add Programming Language</a></li>
</ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>